@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Kdam+Thmor+Pro&family=Koulen&family=Libre+Baskerville&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Koulen&family=Noto+Serif+Khmer:wght@100..900&display=swap');
body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    width: 90%;
    position: fixed;
  }
  .content {
    background-color: #f2f2f2;
    width: 90%;
    height: 200vh;
    margin: auto;
  
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
    margin: 1%;
    font-family: "Lilita One", sans-serif;
  }
  
  .topnav a:hover {
    color: dodgerblue;
    opacity: 100%;
  }
  
  .topnav a.active {
    /* background-color: #04AA6D; */
    width: 150px;
    margin-left: -10px;
  }
  
  .topnav .icon {
    display: none;
  }
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)  {
  .topnav a {
      color: rgb(255, 255, 255);
      font-size: 25px
  }
  .main-contain .topnav {
    background-color: rgb(0, 0, 0);
    margin: auto;
  }
  
}
/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
   
  }
  .topnav a {
      color: rgb(255, 255, 255);
      margin-left: 2%;
      font-size: 20px;
      
  }
  .body .main-contain {
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 650vh;
    margin: auto;
  }
  .main-contain .topnav {
    background-color: black;
    width: 100%;
  }


}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left: 8px;
    }
    .topnav a {
        color: rgb(255, 255, 255);
    }
   .body .main-contain {
      width: 100%;
      background-color: rgb(255, 255, 255);
      height: 650vh;
    }
    .main-contain .topnav {
      background-color: black;
      margin:0;
      width: 100%;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
  .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
	.topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left: 8px;
    }
    .topnav a {
        color: rgb(255, 255, 255);
    }
    .body .main-contain {
      width: 100%;
      background-color: rgb(255, 255, 255);
      height: 650vh;
    }
    .main-contain .topnav {
      background-color: black;
      margin:0;
      width: 100%;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

}
@media (max-width: 575.98px) {
	.topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left: 8px;
    }
    .topnav a {
        color: rgb(255, 255, 255);
        
    }
    .body .main-contain {
      width: 100%;
      background-color: rgb(131, 28, 28);
      height: 700vh;
    }
    .main-contain .topnav {
      background-color: black;
      margin:0;
      width: 100%;
    }
   
   
    
}